@import "tailwindcss";

@theme {
  --font-sans: 'Alliance', system-ui, sans-serif;
  --color-primary: #7297c5;
  --color-primary-dark: #5a7ba3;
}

@font-face {
  font-family: 'Alliance';
  src: url('/fonts/Alliance No.2 Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alliance';
  src: url('/fonts/Alliance No.2 Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alliance';
  src: url('/fonts/Alliance No.2 SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alliance';
  src: url('/fonts/Alliance No.2 Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alliance';
  src: url('/fonts/Alliance No.2 ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alliance';
  src: url('/fonts/Alliance No.2 Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-sans);
    background: #ffffff;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-behavior: smooth;
  }
}
